# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.pub-cache/

.flutter-plugins
.flutter-plugins-dependencies
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/.dart_tool/
ios/Runner.xcworkspace/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/.dart_tool/
android/captures/
android/gradle.properties

# macOS (if ever added later)
macos/Flutter/ephemeral/
macos/.dart_tool/

# Windows/Linux (if ever added)
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# but for now exclude both platforms, linux and web
windows
macos
linux
web

# Other
*.tmp

.metadata